.contentContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    height: 80vh;
    margin: 25px auto;
    border-radius: 7px;
    -webkit-box-shadow: 0px 50px 125px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 50px 125px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 50px 125px 0px rgba(0, 0, 0, 0.1);
}

.tasks {
    position: relative;
    height: 100%;
    margin: 10px;
    overflow-x: hidden;
    overflow-x: auto;
}

#scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #ededed;
    border-radius: 5px;
}

#scroll::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .contentContainer{
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }

    .tasks{
        margin: 0;
    }
}

