.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 10px 10px 0;
    height: 55px;
    border-radius: 7px;
    border: 1px solid #e2e2e2;
    background-color: white;
}

.taskInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskInfo > p {
    margin-left: 15px;
}

.taskButtonComplete {
    height: 25px;
    width: 25px;
    padding: 0;
    background-color: #6994F9;
    border: none;
    border-radius: 50px;
    margin-left: 15px;
    cursor: pointer;
    font-size: .6em;
    color: white;
}

.taskButtonComplete2 {
    height: 25px;
    width: 25px;
    padding: 0;
    background-color: #ededed;
    border: none;
    border-radius: 50px;
    margin-left: 15px;
    cursor: pointer;
    font-size: .6em;
    color: #c7c7c7;
}

.taskButtonDetails {
    height: 25px;
    width: 25px;
    padding: 0;
    background-color: #6994F9;
    border: none;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    color: white;
}

.taskButtonDetailsDisabled {
    height: 25px;
    width: 25px;
    padding: 0;
    margin-left: 15px;
    background-color: #ededed;
    border: none;
    border-radius: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.taskRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.taskRight > p {
    font-weight: bold;
    color: rgb(163, 163, 163)
}