.taskInputContainer>form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(245, 245, 245);
    border-radius: 7px 7px 0 0;
    height: 70px;
    padding: 0 15px;
}

.taskInput {
    height: 45px;
    width: 80%;
    padding: 0;
    margin: 0 15px 0 0;
    border-radius: 50px;
    border: none;
    padding-left: 15px;
    -webkit-box-shadow: 0px 10px 68px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 68px -30px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 68px -30px rgba(0, 0, 0, 0.75);
}

.taskSubmit {
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0;
    background-color: #6994F9;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 28px;
    -webkit-box-shadow: 0px 10px 68px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 68px -30px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 68px -30px rgba(0, 0, 0, 0.75);
}